.p-20 {
    padding: 20rem;
}

.px-20 {
    padding: 0 20rem;
}

.py-20 {
    padding: 20rem 0;
}


.display-5 {
    font-size: calc(1.0rem + 2vw);
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: calc(1.0rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}