.p-10 {
    padding: 10rem;
}

.px-10 {
    padding: 0 10rem;
}

.py-10 {
    padding: 10rem 0;
}


.display-5 {
    font-size: calc(1.0rem + 2vw);
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: calc(1.0rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}

.display-7 {
    font-size: calc(1.0rem + .8vw);
    font-weight: 300;
    line-height: 1.2;
}